<!--OBJECT | HEADER-->
<header>
    <div>
        <a href="/{{ locale }}">
            <img src="{{ template_directory }}/assets/tartine/rsc/img/img_logo.png" alt="logo">
        </a>
        <!--OBJECT | NAV-->
        <nav>
            <!--home-->
            <div class="home">
                <a href="/{{ locale }}" class="icon_custom position-relative">
                    <i class="icon_nav i-home"></i>
                    <span>{{ 'menu.home'|trans }}</span>
                </a>
            </div>
            <!--search | visible on mobile/tablet && !homepage-extralarge-->
            <div class="search">
                <a href="#" id="btn-open-search">
                    <i class="icon_nav i-search i-white"></i>
                    <i class="icon_nav i-search i-white position-absolute d-none d-xl-block"></i>
                </a>
                {% include 'header/_search_screen.html.twig' %}
            </div>

            <!--organize-->
            {% include 'header/_organize.html.twig' %}
            <!--practical-->
            <div class="practical">
                <a href="{{ items.pratique.url }}">
                    <i class="icon_nav i-clock"></i>
                    <span>{{ items.pratique.name }}</span>
                </a>
            </div>
            <!--more-->
            <div class="more">
                <input type="checkbox" id="more" name="more"/>
                <a href="#" for="more">
                    <i class="icon_nav i-plus"></i>
                </a>

                <div class="bubble">
                    <i class="graphicElement"></i>
                    <div>
                        <a href="{{ items.inspirations.url }}">{{ items.inspirations.name }}</a>
                        <a href="{{ items.agenda.url }}">{{ items.agenda.name }}</a>
                    </div>
                    <i class="graphicElement"></i>
                </div>
            </div>

            <!--visible from extralarge-->
            <!--inspirations-->
            <div class="inspirations">
                <a href="{{ items.inspirations.url }}">
                    <span>{{ items.inspirations.name }}</span>
                </a>
            </div>
            <!--agenda-->
            <div class="agenda">
                <a href="{{ items.agenda.url }}">
                    <span>{{ items.agenda.name }}</span>
                </a>
            </div>
        </nav>

        <!--language-->
        {% include 'header/_langues.html.twig' with {'class':'pl-32px'} %}

        <!--social-->
        {% include 'header/_social.html.twig' %}
    </div>
</header>
