<div class="organize">
    <input type="checkbox" id="organize" name="organize"/>
    <a href="{{ items.sorganiser.url }}" for="organize">
        <i class="icon_nav i-bars"></i>
        <span>{{ items.sorganiser.name }}</span>
    </a>
    <div class="bubble">
        <i class="graphicElement"></i>
        <div class="shadow-sm">
            <a href="{{ items.decouvrir.url }}">{{ items.decouvrir.name }}</a>
            <a href="{{ items.savourer.url }}">{{ items.savourer.name }}</a>
            <a href="{{ items.bouger.url }}">{{ items.bouger.name }}</a>
            <a href="{{ items.sejourner.url }}">{{ items.sejourner.name }}</a>
        </div>
        <i class="graphicElement"></i>
    </div>
</div>
