<div class="searchScreen">
    <i class="graphicElement"></i>

    <ul>
        <li class="col-ls-12">
            <form class="h-32px" method="get" action="/{{ locale }}">
                <input name="s" type="search" placeholder="Que cherchez-vous ?"
                       class="border-0 rounded-pill h-32px pl-16px pr-48px fs-short-3">
                <button type="submit"
                        class="position-absolute top-0 bottom-0 right-0 w-32px h-32px d-flex justify-content-center align-items-center p-0 border-0 rounded-right-pill bg-transparent icon_custom">
                    <i class="i-search i-dark-grey w-16px h-16px"></i>
                </button>
            </form>
            <!--TODO JF: branchement-->
            <a href="#" class="icon_custom" id="btn-close-search">
                <i class="i-times"></i>
            </a>
        </li>
        <li class="col-ls-6 col-ls-sm-4 col-xl-12 col-ls-xl-12">
            <a href="{{ icones.patrimoine.url }}" class="icon_custom"><i
                        class="i-patrimony"></i>{{ icones.patrimoine.name }}</a>
        </li>
        <li class="col-ls-6 col-ls-sm-4 col-xl-12 col-ls-xl-12">
            <a href="{{ icones.arts.url }}" class="icon_custom"><i
                        class="i-arts"></i>{{ icones.arts.name }}</a>
        </li>
        <li class="col-ls-6 col-ls-sm-4 col-xl-12 col-ls-xl-12">
            <a href="{{ icones.balades.url }}" class="icon_custom"><i
                        class="i-walks"></i>{{ icones.balades.name }}</a>
        </li>
        <li class="col-ls-6 col-ls-sm-4 col-xl-12 col-ls-xl-12">
            <a href="{{ icones.gourmandises.url }}" class="icon_custom"><i
                        class="i-delicaties"></i>{{ icones.gourmandises.name }}</a>
        </li>
        <li class="col-ls-6 col-ls-sm-4 col-xl-12 col-ls-xl-12">
            <a href="{{ icones.fetes.url }}" class="icon_custom"><i
                        class="i-parties"></i>{{ icones.fetes.name }}</a>
        </li>
    </ul>

    <i class="graphicElement"></i>
</div>
