<h3 class="mb-2 mt-2"><strong>Renseignements</strong></h3>
<p>
{% for contact in offre.contacts %}
    {% if contact.lib(locale) %}
        <strong>{{ contact.lib(locale) }}</strong><br/>
    {% endif %}
    {% if contact.noms %}
        <p>   {{ contact.noms }} {{ contact.prenoms }}</p>
    {% endif %}

    <span>{{ contact.adresse }} {{ contact.numero }}<br/>
        {{ contact.postal }} {{ contact.localite }}</span><br/>
    {% for communication in contact.communications %}
        <span><strong>{{ communication.lib(locale) }}</strong> {{ communication.val }}</span><br/>
    {% endfor %}
{% endfor %}
</p>
