<h3 class="mb-2 mt-2"><strong>Renseignements</strong></h3>

{% for contact in offre.contacts %}
    {% if contact.lib('fr') %}
        <strong>{{ contact.lib('fr') }}</strong>
    {% endif %}
    {% if contact.noms %}
        <p>   {{ contact.noms }} {{ contact.prenoms }}</p>
    {% endif %}

    <span>{{ contact.adresse }} {{ contact.numero }}<br/>
        {{ contact.postal }} {{ contact.localite }}</span><br/>
    {% for communication in contact.communications %}
        <span><strong>{{ communication.name }}</strong> {{ communication.value }}</span><br/><br/>
    {% endfor %}
{% endfor %}
