<!--inspirations-->
<div class="pt-40px d-flex mx-n15px flex-wrap mw-1440px">
    <!--OBJECT | RECOM-->
    {% for offre in offres %}

        {% if loop.index is divisible by(2) %}
            {% set class = 'col-12 col-md-6' %}
        {% else %}
            {% set class = 'col-12 col-md-6 d-none d-md-block' %}
        {% endif %}

        <div class="{{ class }}">
            <div class="object-recom py-8px">
                <a href="{{ offre.url }}" class="bg-img rounded-xs mh-104px mh-xl-136px">
                    <i style="background-image: url('{{ offre.image }}'); background-size: cover; background-repeat: no-repeat;"
                       class="w-104px w-xl-136px h-104px h-xl-136px">
                        <b class="bg-img-bgcolor-hover-primary-55"></b>
                    </i>
                    <div class="col">
                        <span class="pt-0 text-default fs-short-2 ellipsis">{{ offre.titre }}</span>
                        <h5 class="text-default text-hover-primary ff-light pt-4px pt-xl-8px fs-short-3 overflow-hidden mh-52px mh-xl-80px">
                            {{ offre.descriptions|length > 0 ? offre.descriptions.0.texte.get(locale)|u.truncate(90,'...') }}
                            {% if offre.contactPrincipal %}
                                {% set contact = offre.contactPrincipal %}
                                {% if contact.l_nom %}<br />
                                    <span>{{ contact.adresse }} {{ contact.numero }} {{ contact.l_nom }}</span>
                                {% endif %}
                            {% endif %}
                        </h5>
                    </div>
                </a>
            </div>
        </div>
    {% else %}
        <div class="col-12 col-md-6">
            <div class="object-recom py-8px">
                <a href="#" class="bg-img rounded-xs mh-104px mh-xl-136px">
                    <i class="bg-img-inspi-1 w-104px w-xl-136px h-104px h-xl-136px">
                        <b class="bg-img-bgcolor-hover-primary-55"></b>
                    </i>
                    <div class="col">
                        <span class="pt-0 text-default fs-short-2 ellipsis">{{ 'article.notfound'|trans }}</span>
                        <h5 class="text-default text-hover-primary ff-light pt-4px pt-xl-8px fs-short-3 overflow-hidden mh-52px mh-xl-80px">
                           {{ 'article.sample'|trans }}
                        </h5>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
