<!--CONTENT-->
<section id="content" class="pl-ls-42px overflow-ls-hidden overflow-md-hidden pl-ls-lg-0">

    <!--ENJOY_BG-->
    <div class="bg-img-enjoy"
         {% if header %}style="background-position:center; background-image: url('{{ header }}');"{% endif %}>
        <div class="bg-gradient-img d-flex flex-column justify-content-end align-items-start h-100 px-24px px-xl-48px pb-24px position-relative">

            <!--back | TODO JF: lien dynamique vers la page précédente-->
            <a href="{{ urlBack }}"
               class="button lvl3 align-self-ls-md-start align-self-md-start position-relative right-0 right-hover-12px fs-short-2"><i
                        class="fas fa-angle-left pr-8px d-ls-md-inline pr-md-12px fs-short-2 d-md-inline"></i>
                {{ 'url.back'|trans }} {{ nameBack }}</a>

            <!--title-->
            <h2 class="text-white lh-100">{{ title|raw }}</h2>
        </div>
    </div>

    <!--INTRO-->
    {% if icone %}
        {% set text_color = 'text-secondary' %}
        {% if bgcat == 'bg-cat-wal' %}
            {% set text_color = 'text-white' %}
        {% endif %}
        <div class="{{ bgcat }}">
            <div class="position-relative d-flex pt-24px px-24px pb-120px p-xl-48px flex-wrap z-10 justify-content-end justify-content-xl-start mw-1440px mx-auto">
                <p class="fs-basic ff-semibold fs-xl-big-1 {{ text_color }} px-0 col-12 col-xl-9">
                    {% if category.description %}
                        {{ category.description|make_clikable|raw }}
                    {% endif %}
                </p>
                <img src="{{ icone }}" alt="image categorie 1"
                     class="position-absolute xl-top-0 bottom-n56px xl-bottom-auto right-0 col-8 col-xl-3 mw-150px mw-xl-150px">
            </div>
        </div>
    {% endif %}

    <!--ENJOY-->
    <div id="app-offres" data-category-id="{{ category.cat_ID }}"
         class="bg-white pt-40px pb-36px px-24px position-relative d-md-flex px-xl-48px mx-xl-n30px justify-content-md-center flex-column align-items-center">

        <noscript>
            {% include 'category/hades/_filtres.html.twig' %}
            <!--list-->
            <ul class="pt-24px pt-md-32px d-md-flex flex-md-wrap mx-md-n4px mx-lg-n8px object-cardsList mw-1440px">
                {% include 'category/hades/_list.html.twig' %}
            </ul>
        </noscript>

    </div>
</section>
