<!--CONTENT-->
<section id="content" class="pl-ls-42px overflow-ls-hidden overflow-md-hidden pl-ls-lg-0">

    <!--INSPIRATIONS_BG-->
    <div class="bg-img-inspirations"
         {% if header %}style="background-position:center; background-image: url('{{ header }}');"{% endif %}>
        <div class="bg-gradient-img d-flex flex-column justify-content-end align-items-start h-100 px-24px px-xl-48px pb-24px position-relative">

            <!--back | TODO JF: lien dynamique vers la page précédente-->
            <a href="{{ urlBack }}"
               class="button lvl3 align-self-ls-md-start align-self-md-start position-relative right-0 right-hover-12px fs-short-2"><i
                        class="fas fa-angle-left pr-8px d-ls-md-inline pr-md-12px fs-short-2 d-md-inline"></i>
                {{ 'url.back'|trans }} {{ nameBack }}</a>

            <!--title-->
            <h2 class="text-white lh-100">{{ title|raw }}</h2>
            {% if sortLink %}
                {{ sortLink|raw }}
            {% endif %}
        </div>
    </div>

    <!--INSPIRATIONS-->
    <div class="bg-white pb-36px px-24px position-relative d-md-flex px-xl-48px mx-xl-n30px justify-content-md-center flex-column align-items-xl-center">

        {% if category.description %}
            <p class="mt-3" style="color: #64966FFF; font-size: 0.9rem;">{{ category.description|make_clikable|raw }}</p>
        {% endif %}
        <!--inspirations-->
        {% include 'category/_articles.html.twig' %}
        <!-- TODO JF: à brancher
        <a href="#"
           class="button lvl3 mt-12px align-self-ls-md-center align-self-md-center position-relative left-0 d-flex justify-content-center">Charger
            plus d'éléments<i class="fas fa-angle-down d-ls-md-inline pl-8px pl-md-12px fs-basic d-md-inline"></i></a>
  -->
    </div>
</section>
