<tr>
    <td>
        <span>{{ root.nom }}</span>
    </td>
    <td></td>
    <td>
        <a href="{{ urlAdmin }}{{ root.identifiant }}" target="_pivot">
            {{ root.identifiant }}
        </a>
    </td>
    <td></td>
</tr>
{% for child in root.children %}
    <tr>
        <td></td>
        <td>
            <span>{{ child.nom }}</span>
        </td>
        <td>
            <a href="{{ urlAdmin ~ child.identifiant|url_encode }}" target="_pivot">
                {{ child.identifiant }}
            </a>
        </td>
        <td></td>
    </tr>
{% endfor %}