
    <!--PARTNERS-->
    <div class="bg-lighter">
        <div class="d-flex align-items-center justify-content-between py-24px px-16px mw-1616px m-xl-auto">

            <!--visible from landscape&&extralarge-->
            <button class="d-none border-0 h-66px col py-11px px-ls-20px text-center d-xl-block bg-none icon_custom">
                <i class="i-angle-left i-dark-grey d-block h-100 m-auto bg-size-auto"></i>
            </button>

            <!--always visible-->
               <a href="http://www.geoparkfamenneardenne.be/" class="col py-11px px-ls-20px text-center order-ls-md-2 order-md-2 filtred">
                <img src="{{ template_directory }}/assets/tartine/rsc/img/geopark.jpg" alt="geopark"
                     class="mw-100 mh-66px filter-grey filter-hover-grey-0 transition-all">
            </a>
            <a href="https://www.marche.be/economie/" class="col py-11px px-ls-20px text-center order-ls-md-2 order-md-2 filtred">
                <img src="{{ template_directory }}/assets/tartine/rsc/img/img_sponsor01.png" alt="adl"
                     class="mw-100 mh-66px filter-grey filter-hover-grey-0 transition-all">
            </a>
            <a href="https://www.famenneardenne.be/fr/" class="col py-11px px-ls-20px text-center order-ls-md-3 order-md-3 filtred">
                <img src="{{ template_directory }}/assets/tartine/rsc/img/img_sponsor02.png" alt="famenne ardenne"
                     class="mw-100 mh-66px filter-grey filter-hover-grey-0 transition-all">
            </a>
            <a href="https://cap.marche.be/" class="col py-11px px-ls-20px text-center order-ls-md-5 order-md-5 filtred">
                <img src="{{ template_directory }}/assets/tartine/rsc/img/img_sponsor03.png" alt="cap commerçants"
                     class="mw-100 mh-66px filter-grey filter-hover-grey-0 transition-all">
            </a>

            <!--visible from landscape&&medium / medium-->
            <a href="https://artistes.marche.be/" class="d-none d-ls-md-block col py-11px px-ls-20px text-center d-md-block filtred">
                <img src="{{ template_directory }}/assets/tartine/rsc/img/img_sponsor04.png" alt="mcfa"
                     class="mw-100 mh-66px filter-grey filter-hover-grey-0 transition-all">
            </a>
            <a href="http://www.paysdefamenne.be/"
               class="d-none d-ls-md-block col py-11px px-ls-20px text-center order-ls-md-4 d-md-block order-md-4 filtred">
                <img src="{{ template_directory }}/assets/tartine/rsc/img/img_sponsor05.png" alt="pays famenne"
                     class="mw-100 mh-66px filter-grey filter-hover-grey-0 transition-all">
            </a>

            <!--visible from landscape&&extralarge-->
            <button class="d-none order-7 border-0 h-66px col py-11px px-ls-20px text-center d-xl-block bg-none icon_custom">
                <i class="i-angle-right i-dark-grey d-block h-100 m-auto bg-size-auto"></i>
            </button>
        </div>
    </div>
