<!--categories | TODO JF: branchement des filtres | TODO TIBY: Voir pour tenter un branchement simulé-->
{% if filtres|length > 0 %}
    <div class="d-md-none pr-12px border border-primary rounded-xs position-relative">
        <i class="fas fa-angle-down position-absolute top-0 bottom-0 right-0 mr-16px fs-big-1 text-primary py-5px"></i>
        <select name="categories" id="cat-select" class="fs-short-3 ff-semibold rounded-xs">
            <option value="all" selected>{{ 'filter.all'|trans }}</option>
            {% for key, nom in filtres %}
                <option value="{{ key }}">{{ nom }}</option>
            {% endfor %}
        </select>
    </div>
    <!--categories | TODO JF: branchement des filtres | TODO TIBY: Voir pour tenter un branchement simulé-->
    <ul class="cat-filters d-md-flex mw-448px flex-wrap justify-content-center align-items-center d-none mx-auto">
        <li class="mx-16px position-relative">
            <input name="cat" id="cat-all" class="position-absolute top-0 bottom-0 left-0 right-0 w-100 h-100"
                   type="radio"
                   value="all" checked>
            <label for="cat-all"
                   class="py-4px px-8px fs-short-2 ff-semibold transition-color">{{ 'filter.all'|trans }}</label>
        </li>
        {% for key, nom in filtres %}
            <li class="px-0 position-relative">
                <a href="{{ urlfiltre }}{{ key }}" class="py-4px px-8px fs-short-2 ff-semibold transition-color">
                    {{ nom }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
