{% for horaire in offre.horaires %}
    <h4 class="ff-semibold fs-short-1">{{ horaire.lib.get(locale) }}</h4>
    <span class="fs-short-2 pt-8px d-block">{{ horaire.texte.get(locale) }}</span>
{% endfor %}

<h4 class="mb-2 mt-2"><strong>{{ 'offre.information'|trans }}</strong></h4>
{% for contact in offre.contacts %}
    {% if contact.lib.get('default') == 'contact' %}
        {% if contact.lib.get(locale) %}
            <p><strong>{{ contact.lib.get(locale) }}</strong></p>
        {% endif %}
        {% if contact.noms %}
            <p> {{ contact.noms }} {{ contact.prenoms }} </p>
        {% endif %}
        <br/>
        <p> {{ contact.adresse }} {{ contact.numero }}</p>
        <br/>
        <span>{{ contact.postal }} {{ contact.l_nom }}</span><br/><p>
        {% for communication in contact.communications %}
            <strong>{{ communication.lib.get(locale) }}</strong>
            {{ communication.val | auto_link(communication.typ) | raw }}
            <br/>
        {% endfor %}</p>
    {% endif %}
{% endfor %}
