{#
{% for horaire in offre.horaires %}
    <h4 style="font-size: 1.3em;" class="ff-semibold fs-short-1">{{ horaire.lib.get(locale) }}</h4>
    <span class="fs-short-2 pt-8px d-block">{{ horaire.texte.get(locale) }}</span>
{% endfor %}

<h4 style="font-size: 1.3em;" class="mb-2 mt-2">
    <p style="font-size: 1.3em;">
        {{ 'offre.information'|trans }}
    </p>
</h4>
{% set count = 0 %}
{% for contact in offre.contacts %}
    {% if contact.lib.get('default') == 'contact' %}
        {% if count == 0 %}
            <div style="line-height: 1rem;">
                {% set count = 1 %}
                {% if contact.lib.get(locale) %}
                    <span><strong>Contact</strong></span><br/> <br/>
                {% endif %}
                {% if contact.noms %}
                    <span> {{ contact.noms }} {{ contact.prenoms }} </span><br/> <br/>
                {% endif %}
                <span>{{ contact.adresse }} {{ contact.numero }}</span><br/> <br/>
                <span>{{ contact.postal }} {{ contact.l_nom }}</span><br/> <br/>
                <span>
                {% for communication in contact.communications %}
                    <strong>{{ communication.lib.get(locale) }}</strong>
                    {{ communication.val | auto_link(communication.typ) | raw }}
                    <br/> <br/>
                {% endfor %}
            </span>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
#}