<tr>
    <td>
        <span>{{ root.nom }}</span>
    </td>
    <td></td>
    <td>
        <a href="{{ categoryUrl }}/?cgt={{ root.reference }}" target="_pivot">
            {{ root.reference }}
        </a>
    </td>
    <td></td>
</tr>
{% for child in root.children %}
    <tr>
        <td></td>
        <td>
            <span>{{ child.nom }}</span>
        </td>
        <td>
            <a href="{{ categoryUrl }}/?cgt={{ child.reference }}" target="_pivot">
                {{ child.reference }}
            </a>
        </td>
        <td></td>
    </tr>
{% endfor %}