<tr>
    <td>
        {% if level == 1 %}
            <span>{{ filter.name_original }}</span>
        {% endif %}
    </td>
    <td>
        {% if level == 2 %}
            <span>{{ filter.name_original }}</span>
        {% endif %}
    </td>
    <td>
        {% if level == 3 %}
            <span>{{ filter.name_original }}</span>
        {% endif %}
    </td>
    <td>
        {% if level == 4 %}
            <span>{{ filter.name_original }}</span>
        {% endif %}
    </td>
    <td>
        {% if filter.keyword %}
            <span>{{ filter.keyword }}</span>
        {% endif %}
    </td>
    <td> </td>
</tr>
