<tr>
    <td>
        {% if level == 1 %}
            <span>{{ filter.name_original }}</span>
        {% endif %}
    </td>
    <td>
        {% if level == 2 %}
            <span>{{ filter.name_original }}</span>
        {% endif %}
    </td>
    <td>
        {% if level == 3 %}
            <span>{{ filter.name_original }}</span>
        {% endif %}
    </td>
    <td>
        {% if level == 4 %}
            <span>{{ filter.name_original }}</span>
        {% endif %}
    </td>
    <td>
        {% if filter.keyword %}
            <a href="{{ categoryUrl }}/?cgt={{ filter.keyword }}" target="_blank">
            {{ filter.keyword }}
            </a>
            <span>{{ filter.keyword }}</span>
        {% endif %}
    </td>
    <td>
        {% if category.count is defined %}
            <p>{{ category.count }}</p>
        {% endif %}
    </td>
</tr>
