<!--CONTENT-->

<section id="content"
         class="pt-42px pb-36px pl-ls-42px overflow-ls-hidden overflow-md-hidden pl-ls-lg-0 pt-xl-80px pb-lg-66px mw-1440px mx-xl-auto w-100">

    <!--DIRECTORY-->
    <div class="bg-white pt-24px px-24px position-relative d-md-flex px-xl-48px mx-xl-n30px justify-content-md-center flex-column">

        <!--back | TODO JF: lien dynamique vers la page précédente-->
        <a href="{{ urlBack }}"
           class="button lvl3 align-self-ls-md-start align-self-md-start position-relative right-0 right-hover-12px fs-short-2"><i
                    class="fas fa-angle-left pr-8px d-ls-md-inline pr-md-12px fs-short-2 d-md-inline"></i>
            {{ 'url.back'|trans }} {{ nameBack }}</a>

        <!--title-->
        <h2 class="text-ls-md-left pt-ls-md-8px text-md-left pt-md-8px">{{ offre.nomByLanguage(locale) }}</h2>

        <!--category-->
        <span class="text-primary ff-semibold pt-12px d-block fs-short-2">{{ currentCategory.name }}</span>

        <!--directory-->
        <div class="pt-48px d-lg-flex mx-n15px ml-lg-0">
            <div class="d-flex flex-column align-items-center flex-md-wrap flex-md-row align-items-md-start flex-lg-column col-lg-8 mx-md-0 flex-lg-nowrap px-md-0">
                <!--img/datas-->
                <div class="bg-img w-100 h-auto position-relative h-lg-368px d-flex rounded-xs over44flow-hidden">

                    <!--img-->
                    {% include 'offre/_image.html.twig' %}

                    <!--datas-->
                    <div class="col-12 col-md-5 d-flex flex-column flex-ls-row flex-ls-wrap py-24px px-48px px-ls-12px align-self-stretch align-items-ls-start ml-auto bg-pastel">

                        <!--address-->
                        <div class="text-default col-ls-6 px-ls-12px col-ls-md-12">
                            <h4 class="ff-semibold fs-short-1">{{ 'article.address'|trans }}</h4>
                            {% if offre.adresse_rue|length > 0 %}
                                <span class="fs-short-2 pt-8px d-block">
                                   {{ offre.adresse_rue[0].value }}
                               </span>
                            {% endif %}
                            <span class="fs-short-2 pt-8px d-block">
                            {{ offre.adresse.cp }} {{ offre.adresse.localiteByLanguage(locale) }}
                            </span>
                        </div>

                        <!--phone-->
                        {% if offre.tels|length > 0 %}
                            <div class="text-default pt-20px col-ls-6 pt-ls-0 px-ls-12px col-ls-md-12 pt-ls-md-20px">
                                <h4 class="ff-semibold fs-short-1">{{ 'article.phone'|trans }}</h4>
                                <a href="tel:{{ offre.tels[0] }}"
                                   class="fs-short-2 pt-8px d-block text-default">{{ offre.tels[0] }}</a>
                            </div>
                        {% endif %}

                        <!--mail-->
                        {% if offre.emails|length > 0 %}
                            <div class="text-default pt-20px col-ls-6 px-ls-12px col-ls-md-12 pt-ls-md-20px">
                                <h4 class="ff-semibold fs-short-1">{{ 'article.email'|trans }}</h4>
                                <a href="mailto:{{ offre.emails[0] }}"
                                   class="fs-short-2 pt-8px d-block text-default">
                                    {{ offre.emails[0] }}
                                </a>
                            </div>
                        {% endif %}

                        <!--website-->
                        {% if offre.webs|length > 0 %}
                            <div class="text-default pt-20px col-ls-6 px-ls-12px col-ls-md-12 pt-ls-md-20px">
                                <h4 class="ff-semibold fs-short-1">{{ 'article.website'|trans }}</h4>
                                <a href="{{ offre.webs[0].value }}" target="_blank"
                                   class="fs-short-2 pt-8px d-block text-default">{{ offre.webs[0].value }}</a>
                            </div>
                        {% endif %}

                        <!--schedule
                        <div class="text-default pt-20px col-ls-6 px-ls-12px col-ls-md-12 pt-ls-md-20px">
                            <h4 class="ff-semibold fs-short-1">Horaires</h4>
                            <span class="fs-short-2 pt-8px d-block">Mercredi 13h à 17h30</span>
                            <span class="fs-short-2 pt-8px d-block">Vendredi 14h30 à 17h30</span>
                            <span class="fs-short-2 pt-8px d-block">Samedi 9h à 12h30</span>
                        </div>-->
                    </div>
                </div>

                <!--OBJECT | TAGS-->
                <div class="overflow-hidden w-100 pt-24px col-md-12 px-0 px-md-15px d-lg-none">
                    <ul class="object-tags">
                        {% for tag in tags %}
                            <li><a href="{{ tag }}" class="rounded-xs">{{ tag }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <!--OBJECT | TEXT-DYN | TODO JF : brancher la possibilité d'ouvrir/réduire le content avec un ellipsis + condition sur l'extend-->
                <div class="object-text-dyn col-md-8 px-0 px-md-15px col-lg-12 px-lg-0">
                    <input type="checkbox" id="text-dyn"/>
                    <div for="text-dyn">
                        <span class="more">{{ 'article.readmore'|trans }}</span>
                        <span class="less">{{ 'article.readless'|trans }}</span>
                    </div>
                    <div for="text-dyn" class="mt-2">
                        {% for description in offre.descriptionsByLanguage(locale) %}
                            <span style="line-height: 1.4rem;">
                                {{ description.value|raw }}
                            </span>
                        {% endfor %}

                        {% if offre.homepage %}
                            <p>{{ offre.homepage }}</p>
                        {% endif %}
                        {% include 'offre/specifications/_classements.html.twig' %}
                        {% include 'offre/specifications/_communications.html.twig' %}
                        <p></p>
                        {% include 'offre/specifications/_equipements.html.twig' %}
                        <p></p>
                        {% include 'offre/specifications/_accueils.html.twig' %}
                        <p></p>
                        {% include 'offre/_images.html.twig' %}
                        {% include 'map/_carte.html.twig' %}
                    </div>
                </div>

                <!--OBJECT | SHARE-->
                <div class="pt-24px w-100 col-md-4 px-0 px-md-15px d-lg-none">
                    <h4 class="text-default fs-basic text-right text-lg-left">{{ 'article.share'|trans }}</h4>
                    <div class="pt-12px pt-md-16px object-share">
                        <a href="http://www.facebook.com/sharer.php?u={{ currentUrl() }}">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="{{ currentUrl() }}"><i class="fas fa-link"></i></a>
                        <a href="#" class="d-none d-xl-flex"><i class="fas fa-print"></i></a>
                    </div>
                </div>

                <!-- previous/next -->
                {% if recommandations | length > 0 %}
                    {% set previous = random(recommandations) %}
                    {% set next = random(recommandations) %}
                {% endif %}
                <div class="pt-24px d-flex w-100 col-md-8 px-0 px-md-15px col-lg-12 px-lg-0">
                    {% if previous is defined %}
                        <div class="col-6 p-0 d-flex">
                            <a href="{{ previous.url }}"
                               class="button lvl3 align-self-ls-md-center align-self-md-center position-relative left-0 left-hover-n12px d-flex justify-content-center fs-short-2"><i
                                        class="fas fa-angle-left d-ls-md-inline pr-8px pr-md-12px fs-short-1 d-md-inline"></i>
                                {{ previous.title }}</a>
                        </div>
                    {% endif %}
                    {% if next is defined %}
                        <div class="col-6 p-0 d-flex justify-content-end">
                            <a href="{{ next.url }}"
                               class="button lvl3 align-self-ls-md-center align-self-md-center position-relative left-0 left-hover-12px d-flex justify-content-center fs-short-2">
                                {{ next.title }}<i
                                        class="fas fa-angle-right d-ls-md-inline pl-8px pl-md-12px fs-short-1 d-md-inline"></i></a>
                        </div>
                    {% endif %}
                </div>

                <!--OBJECT | RECOM-->
                <div class="pt-24px w-100 col-md-8 px-0 px-md-15px d-lg-none">
                    <h4 class="text-default ff-semibold fs-basic">{{ 'article.recommandation'|trans }}</h4>
                    {% if recommandations | length > 0 %}
                        {% set recommandation = random(recommandations) %}
                        <div class="pt-12px object-recom">
                            <a href="{{ recommandation.url }}" class="bg-img rounded-xs">
                                {% include 'offre/_image_recommandation.html.twig' %}
                                <div class="col">
                                    <h5 class="text-hover-primary">{{ recommandation.title }}</h5>
                                    <span class="text-primary">
                                        {% for categorie in recommandation.categories %}
                                            {{ categorie }}
                                        {% endfor %}
                                    </span>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="d-none d-lg-flex col-4 flex-column h-368px justify-content-between pl-30px">

                <!--OBJECT | SHARE-->
                <div class="w-100">
                    <h4 class="text-default fs-basic text-right text-lg-left">{{ 'article.share'|trans }}</h4>
                    <div class="pt-12px pt-md-16px object-share">
                        <a href="http://www.facebook.com/sharer.php?u={{ currentUrl() }}">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="{{ currentUrl() }}"><i class="fas fa-link"></i></a>
                        <a href="#" class="d-none d-xl-flex"><i class="fas fa-print"></i></a>
                    </div>
                </div>

                <!--OBJECT | TAGS-->
                <div class="overflow-hidden w-100 pt-24px">
                    <ul class="object-tags">
                        {% for tag in tags %}
                            <li><a href="{{ tag }}" class="rounded-xs">{{ tag }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <!--OBJECT | RECOM-->
                <div class="pt-24px w-100">
                    <h4 class="text-default ff-semibold fs-basic">{{ 'article.recommandation'|trans }}</h4>
                    {% if recommandations | length > 0 %}
                        {% set recommandation = random(recommandations) %}
                        <div class="pt-22px object-recom">
                            <a href="{{ recommandation.url }}" class="bg-img rounded-xs">
                                {% include 'offre/_image_recommandation.html.twig' %}
                                <div class="col">
                                    <h5 class="text-default text-hover-primary">{{ recommandation.title }}</h5>
                                    <span class="text-primary">
                                        {% for categorie in recommandation.categories %}
                                            {{ categorie }}
                                        {% endfor %}
                                    </span>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    jQuery(document)
        .ready(function () {
            jQuery('#content')
                .lightGallery({
                        'selector': '.img-lightGallery'
                    }
                );
        });
</script>
